.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/flor-40a68.appspot.com/o/cuarteto-de-nos.jpg?alt=media&token=a8c0638e-5725-494f-9659-98ad699400d0');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 32% 20%;
}